{% extends "index.html" %} {% block content %}
<div class="container">
  <h1 class="text-center">Welcome to qr generator</h1>
  <div class="container">
    <form action="/postform" method="POST">
      <label for="formControlTextarea1" class="form-label"
        >Enter your data to be encoded in QR (Enter the data in JSON
        format)</label
      >
      <textarea
        class="form-control"
        id="formControlTextarea1"
        name="userData"
        rows="3"
      ></textarea>
      <button
        class="btn btn-primary mt-4"
        style="display: block; margin-left: auto; margin-right: auto"
      >
        Generate
      </button>
    </form>
  </div>
</div>
{% endblock %}
